.app {
  padding: 20px;
  background-color: #ffffff;
  color: #24292e;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  min-height: 100vh;
  position: relative;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header h1 {
  font-size: 2rem;
  font-weight: bold;
  color: #24292e;
}

.header p {
  font-size: 1rem;
  margin-bottom: 10px;
  color: #586069;
}

.upload-button-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.upload-button {
  padding: 5px 12px;
  background-color: #2ea043;
  color: white;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  cursor: pointer;
}

.upload-button:hover {
  background-color: #22863a;
}

.table-container {
  margin-left: auto;
  width: auto;
}

.file-table {
  width: 100%;
  border-collapse: collapse;
}

.file-table th,
.file-table td {
  padding: 8px 16px;
  text-align: left;
  border-bottom: 1px solid #e1e4e8;
  height: 38px;
}

.file-table th.name-column,
.file-table td.name-column {
  width: 40%;
}

.file-table th.created-at-column,
.file-table td.created-at-column {
  width: 30%;
}

.file-table th.type-column,
.file-table td.type-column {
  width: 30%;
}

.file-table th {
  font-weight: 500;
  background-color: #f6f8fa;
  color: #24292e;
}

.file-table tbody tr {
  background-color: #ffffff;
  cursor: pointer;
}

.file-table tbody tr:hover {
  background-color: #f6f8fa;
  cursor: pointer;
}

.file-icon {
  margin-right: 10px;
}

.folder-icon {
  color: #f39c12;
}

.word-icon {
  color: #2a5699;
}

.pdf-icon {
  color: #d73a49;
}

.image-icon {
  color: #6a737d;
}

.video-icon {
  color: #2ea043;
}

.archive-icon {
  color: #f39c12;
}

.file-icon {
  color: #586069;
}

.drop-zone-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.drop-zone {
  border: 2px dotted #0366d6;
  border-radius: 10px;
  padding: 50px;
}

.drop-zone p {
  font-size: 1.5rem;
  color: #0366d6;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
}

.breadcrumb-container {
  display: inline-flex;
  align-items: center;
}

.breadcrumb {
  cursor: pointer;
  color: #0366d6;
  font-weight: 400;
}

.breadcrumb-current-dir {
  color: #586069;
  font-weight: bold;
}

.breadcrumb:hover {
  color: #012347;
  text-decoration: underline;
}

.breadcrumb-delimiter {
  font-size: 0.7rem;
  margin: 0 6px;
  opacity: 0.5;
  color: #586069;
}