.file-table {
  width: 100%;
}

.file-table th,
.file-table td {
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 0;
  text-align: left;
  border-bottom: 1px solid #e1e4e8;
  height: 38px;
}

.file-table th {
  font-weight: 500;
  color: #24292e;
}

.file-table tbody tr {
  background-color: #ffffff;
}

.file-table tbody tr:hover {
  background-color: #f6f8fa;
}

.folder-icon {
  color: #f39c12;
}

.word-icon {
  color: #2a5699;
}

.pdf-icon {
  color: #d73a49;
}

.image-icon {
  color: #206e2e;
}

.video-icon {
  color: #2ea043;
}

.archive-icon {
  color: #f39c12;
}

.file-icon {
  color: #586069;
}

.file-icon-container {
  margin-right: 10px;
}

.drop-zone-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.drop-zone {
  border: 2px dotted #0366d6;
  border-radius: 10px;
  padding: 50px;
}

.drop-zone p {
  font-size: 1.5rem;
  color: #0366d6;
}

.breadcrumb {
  cursor: pointer;
  color: #0366d6;
  font-weight: 400;
}

.breadcrumb-current-dir {
  color: #586069;
  font-weight: bold;
}

.breadcrumb:hover {
  color: #012347;
  text-decoration: underline;
}

.breadcrumb-delimiter {
  font-size: 0.7rem;
  margin: 0 6px;
  opacity: 0.5;
  color: #586069;
}

.progress-bar-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.progress-bar {
  height: 100%;
  background-color: #0366d6;
  opacity: 0.2;
}